# Ignore temporary execution files
output.xml
log.html
report.html
screenshots/
pabot_results/
.pabotsuitenames

# Ignore Python virtual environment
venv/
__pycache__/
*.pyc

# Ignore logs and temporary files
*.log
*.tmp
*.db

# Ignore OS-specific files
.DS_Store
Thumbs.db
